// Common colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #e24932;
$color-solid-red: #D71921;

// Secondary colors
$color-button-lines: #880E13;
$color-button-lines-new: #5A0609;
$color-button-text: rgba(0, 0, 0, 0.5);
$color-button-text-hover: rgba(0, 0, 0, 0.64);