//
// File for definition of ALL colors used in this project.
//
// Every color used in styles must be defined here and referenced from here.
// Colors should be grouped by sections if that is the case (Font colors, FrontPage colors..)
//

// Common colors - example
$color-black: #000000;
$color-white: #FEFEFE;
$color-red: #e24932;
$color-yellow: #fce853;
$color-dark: #121212;
$color-gray: #dddddd;

// Common colors - project specific
$color-black-light: #28282D;
$color-black-dark: #1E1E22;
$color-red-light: #ED3E42;
$color-red-dark: #D83B3F;