//
// This file contains all common variables used in whole project.
//

// Page container
$max-width-page-container: 1366px;
$padding-page-container: 67px;
$padding-page-container-mobile: 24px;

// Breakpoints
$breakpoint-tablet-big: 830px;
$breakpoint-tablet-pro: 834px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;

// Z-index
$z-index-cookie: 999;