<form class="music-band-form js-mbr-form">
    {# Basic band info #}
    <div class="music-band-form__about-band">
        {# Band name #}
        {% include "components/input.twig" with {
            label: 'Naziv benda',
            name: 'bandName'
        } %}
        {# City #}
        {% include "components/input.twig" with {
            label: 'Grad',
            name: 'city'
        } %}
        {# Country #}
        {% include "components/input.twig" with {
            label: 'Država',
            name: 'country'
        } %}
        {# Places where available #}
        {% include "components/input.twig" with {
            label: 'Dostupnost',
            name: 'availableLocations'
        } %}
    </div>

    {# Band contacts #}
    <div class="music-band-form__contacts">
        {# Phone number #}
        {% include "components/input.twig" with {
            label: 'Broj mobitela',
            name: 'phone'
        } %}
        {# E-mail #}
        {% include "components/input.twig" with {
            label: 'E-mail',
            name: 'email',
            type: 'email'
        } %}
        {# Website #}
        {% include "components/input.twig" with {
            label: 'Web stranica',
            name: 'website'
        } %}
        {# Instagram #}
        {% include "components/input.twig" with {
            label: 'Instagram',
            name: 'instagram'
        } %}
        {# Facebook #}
        {% include "components/input.twig" with {
            label: 'Facebook',
            name: 'facebook'
        } %}
        {# Video link (E.g. YouTube) #}
        {% include "components/input.twig" with {
            label: 'Video',
            name: 'videoLink'
        } %}
    </div>

    {# More band information #}
    <div class="music-band-form__more">
        {# Number of members #}
        {% include "components/input.twig" with {
            label: 'Broj članova',
            name: 'members'
        } %}
        {# List of instruments #}
        {% include "components/input.twig" with {
            label: 'Instrumenti',
            name: 'instruments'
        } %}
        {# Female vocal #}
        {% include "components/input.twig" with {
            label: 'Ženski vokal',
            name: 'femaleVocal',
            type: 'checkbox',
            containerClass: 'input-flex'
        } %}
        {# Male vocal #}
        {% include "components/input.twig" with {
            label: 'Muški vokal',
            name: 'maleVocal',
            type: 'checkbox',
            containerClass: 'input-flex'
        } %}
        {# Genres #}
        {% include "components/input.twig" with {
            label: 'Žanrovi',
            name: 'genres'
        } %}
        {# Tags #}
        {% include "components/input.twig" with {
            label: 'Tagovi',
            name: 'tags'
        } %}
        {# Year of foundation #}
        {% include "components/input.twig" with {
            label: 'Godina osnivanja',
            name: 'yearOfFoundation'
        } %}
        {% include "components/input.twig" with {
            label: 'Godina osnivanja',
            name: 'description'
        } %}
        {# Band description #}
    </div>

    {# Submit button #}
    {% include "components/button.twig" with {
        text: 'Pošalji prijavu',
        type: 'submit',
        className: 'js-mbr-submit',
        disabledClass: 'disabled'
    } %}

</form>	