{% set chechboxMessage %}
	Slažem se s <a href="/" target="_blank">pravilima i uvjetima nagradnog natječaja.</a>
{% endset %}

{# Ketchup gang section #}
<section class="ketchup-gang">
    <div class="c-container">
        <form class="js-kg-form">
			{% include "components/form/input.twig" with {
				type: 'text',
				label: 'Meno',
				name: 'firstName',
			} %}
			{% include "components/form/input.twig" with {
				type: 'text',
				label: 'Priezvisko',
				name: 'lastName',
			} %}
			{% include "components/form/input.twig" with {
				type: 'email',
				label: 'Email',
				name: 'email',
			} %}
			{% include "components/form/input.twig" with {
				type: 'text',
				label: 'Telefonne čislo',
				name: 'phone',
			} %}
			{% include "components/form/checkbox.twig" with {
				name: 'acceptTerms',
				error: 'Prihvaćanje pravila i uvjeta je obavezno.',
				message: chechboxMessage
			} %}

        </form>
            <button class="js-kg-submit">Zapoj sa</button>
    </div>
</section>