{% extends 'base.twig' %}

{% set chechboxMessage %}
Slažem se s
<a href="/" target="_blank">pravilima i uvjetima nagradnog natječaja.</a>
{% endset %}

{% block content %}
	{# Music band section #}
	<section class="music-band">
		<div class="c-container">
			<form class="js-kg-form">
        {% include "components/form/input.twig" with { type: 'text', label: 'Meno', name: 'bandName' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'phone' } %}
        {% include "components/form/input.twig" with {type: 'email', label: 'Email', name: 'email' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'city' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'country' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'availableLocations' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'members' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'instruments' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'videoLink' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'genres' } %}
        {# {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'femaleVocal' } %} #}
        {% include "components/form/checkbox.twig" with {name: 'femaleVocal' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'maleVocal' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'website' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'instagram' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'facebook' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'tags' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'yearOfFoundation' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'shortDescription' } %}
        {% include "components/form/input.twig" with {type: 'text',  label: 'Telefonne čislo', name: 'granted' } %}


        {% include "components/form/checkbox.twig" with {
          name: 'acceptTerms',
          error: 'Prihvaćanje pravila i uvjeta je obavezno.',
          message: chechboxMessage
        } %}

			</form>
			<button class="js-kg-submit">Pošalji prijavu</button>
		</div>
	</section>
{% endblock %}
