{% extends 'base.twig' %}

{% set chechboxMessage %}
Slažem se s
<a href="/" target="_blank">pravilima i uvjetima nagradnog natječaja.</a>
{% endset %}

{% block content %}
	{# Music band section #}
	<section class="music-band">
		<div class="c-container">
			<form class="js-kg-form">
				<div class="form-row">
					{% include "components/form/input.twig" with { type: 'text', label: 'bandName', name: 'bandName' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'phone', name: 'phone' } %}
					{% include "components/form/input.twig" with {type: 'email', label: 'email', name: 'email' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'city', name: 'city' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'country', name: 'country' } %}
				</div>
				<div class="form-row">
					{% include "components/form/input.twig" with {type: 'text',  label: 'availableLocations', name: 'availableLocations' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'members', name: 'members' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'instruments', name: 'instruments' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'videoLink', name: 'videoLink' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'genres', name: 'genres' } %}
					{# {% include "components/form/input.twig" with {type: 'text',  label: 'čislo', }'femaleVocal' } %} #}
					{% include "components/form/checkbox.twig" with {label: 'femaleVocal', name: 'femaleVocal' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'maleVocal', name: 'maleVocal' } %}
				</div>
				<div class="form-row">
					{% include "components/form/input.twig" with {type: 'text',  label: 'website', name: 'website' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'instagram', name: 'instagram' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'facebook', name: 'facebook' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'tags', name: 'tags' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'yearOfFoundation', name: 'yearOfFoundation' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'shortDescription', name: 'shortDescription' } %}
					{% include "components/form/input.twig" with {type: 'text',  label: 'granted', name: 'granted' } %}
				</div>

				{% include "components/form/checkbox.twig" with {
          name: 'acceptTerms',
          error: 'Prihvaćanje pravila i uvjeta je obavezno.',
          message: chechboxMessage
        } %}

			</form>
			<button class="js-kg-submit">Pošalji prijavu</button>
		</div>
	</section>
{% endblock %}
