{% extends 'base.twig' %}

{% block content %}
    <main>
        <div class="music-band-registration__container">
            <h2  class="music-band-registration__container__title">MUSIC BAND REGISTRATION</h2>

            {% include "pages/music-band-registration-page/form.twig" %}
        </div>
        
    </main>
{% endblock %}