{% extends 'base.twig' %}

{% set chechboxMessage %}
Slažem se s
<a href="/" target="_blank">pravilima i uvjetima nagradnog natječaja.</a>
{% endset %}

{% block content %}
	{# Music band section #}
	<section class="music-band">
		<div class="c-container">
			<form class="js-kg-form">
        <div class="form-row">
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Naziv benda',
            name: 'bandName',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Broj telefona',
            name: 'phone',
        } %}
				{% include "components/form/input.twig" with {
            type: 'email',
            label: 'Email',
            name: 'email',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Grad',
            name: 'city',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Država',
            name: 'country',
        } %}
      </div>
      
      <div class="form-row">
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Dostupnost',
            name: 'availableLocations',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Broj članova',
            name: 'members',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Instrumenti',
            name: 'instruments',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Video',
            name: 'videoLink',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Žanrovi',
            name: 'genres',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Ženski vokal',
            name: 'femaleVocal',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Muški vokal',
            name: 'maleVocal',
        } %}
        </div>
        
        <div class="form-row">
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Naziv benda',
            name: 'website',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Instagram',
            name: 'instagram',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Facebook',
            name: 'facebook',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Tagovi',
            name: 'tags',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Godina osnutka',
            name: 'yearOfFoundation',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Kratki opis',
            name: 'description',
        } %}
				{% include "components/form/input.twig" with {
            type: 'text',
            label: 'Odobreno',
            name: 'granted',
        } %}
        </div>

			</form>
			<button class="js-kg-submit">Pošalji prijavu</button>
		</div>
	</section>
{% endblock %}
