.c-input-container {
    width: 100%;
    position: relative;
  
    &__label {
      color: #606060;
      display: block;
      margin: 0 0 3px;
      transition: all 200ms ease-out;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 132%;
      text-transform: uppercase;
    }
  
    &__input {
      transition: all 200ms ease-out;
      width: 100%;
      border: 2px solid rgba($color-black, .64);
      box-sizing: border-box;
      border-radius: 4px;
      outline: none;
      padding: 1rem 1.6rem;
      color: #606060;
      resize: none;
  
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 132%;
  
      &:disabled {
        color: rgba(#606060, .8);
        border-color: #CBB7B8;
      }
    }
  
    &__error {
      padding: 3px 0 0 1.8rem;
      color: $color-solid-red;
      opacity: 0;
      transition: all 200ms ease-out;
  
      font-size: 1rem;
      line-height: 132%;
  
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
    }
  
    &--error {
      .c-input-container__label, .c-input-container__input {
        color: $color-solid-red;
      }
  
      .c-input-container__input {
        border-color: $color-solid-red;
      }
  
      .c-input-container__error {
        opacity: 1;
      }
    }
  }
  